
# .NET build artifacts
bin/
obj/
out/
[Bb]uild/
[Ll]og/
Generated\ Files/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider project files
.idea/
*.sln.iml

# VS Code settings
.vscode/

# Visual Studio for Mac
.vscode/
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish output
publish/
*.publish.xml

# .NET Core Dependency stores
.vscode-test/
global.json

# Others
*.dbmdl
*.bak
*.backup
*.mdf
*.ldf

# Azure
.azure/

# Entity Framework Migrations
Migrations/

# local secrets
secrets.json

# dotCover
.idea/.dotCover
*.dotCover

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# SonarQube
.sonar/

# local env files
.env
.env.*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local

